.pending-invitation {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 10px;

  transition: all 0.3s;
  border: 1px solid rgb(236, 236, 236);
  &:hover {
    background-color: rgb(236, 236, 236);
  }

  .user {
    i {
      margin-right: 0.5rem;
      cursor: default;

      &:hover {
        transform: none;
      }
    }
  }

  i {
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
}
