.newdesign-todoitem {
  max-height: 30rem;
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  margin: 0.5rem 0;
  -webkit-box-shadow: 0 1px 5px 0.5px #dadada;
          box-shadow: 0 1px 5px 0.5px #dadada;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.newdesign-todoitem .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newdesign-todoitem .name {
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.newdesign-todoitem .status {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 80%;
}

.newdesign-todoitem .status select {
  padding: 0.3rem;
}

.newdesign-todoitem .status .completed {
  background-color: #00af00;
}

.newdesign-todoitem .assignedUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.newdesign-todoitem .assignedUser i {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.newdesign-todoitem .assignedUser i:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.newdesign-todoitem .assignedUser .user {
  cursor: pointer;
  width: 100%;
  background-color: #0088ff;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.newdesign-todoitem .assignedUser .user:hover {
  -webkit-box-shadow: 0 1px 10px 0.5px #dadada;
          box-shadow: 0 1px 10px 0.5px #dadada;
}

.newdesign-todoitem .assignedUser .userSelection {
  position: absolute;
  padding: 1rem;
  -webkit-box-shadow: 0 1px 5px 0.5px #dadada;
          box-shadow: 0 1px 5px 0.5px #dadada;
  background-color: white;
  border-radius: 10px;
  width: 5rem;
  left: 4.5rem;
  top: 1.5rem;
}

.newdesign-todoitem .date {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newdesign-todoitem .date i {
  cursor: pointer;
}

.newdesign-todoitem .checklist {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.newdesign-todoitem .checklist i {
  margin-top: 0.15rem;
  cursor: pointer;
}

.newdesign-todoitem .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newdesign-todoitem .comments i {
  cursor: pointer;
}

.newdesign-todoitem .comments .comments-count {
  cursor: default;
  color: black;
  font-size: 0.5rem;
  -webkit-transform: translate(400%, -80%);
          transform: translate(400%, -80%);
}

.newdesign-todoitem .absolute {
  position: absolute;
}
/*# sourceMappingURL=TodoItem.css.map */