.memberSelection {
  position: absolute;
  padding: 1rem;
  box-shadow: 0 1px 5px 0.5px rgb(218, 218, 218);
  background-color: white;
  border-radius: 10px;
  width: 5rem;
  left: 4.5rem;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .selectableMember {
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
      background-color: rgb(228, 228, 228);
    }
  }

  p {
    margin-bottom: 0;
  }
}
