.memberSelectionWrapper {
  position: absolute;
}

.triangle {
  position: absolute;
  background-color: white;
  width: 1rem;
  height: 1rem;
  z-index: 20;
  top: -6%;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  -webkit-box-shadow: -1.5px -1.5px 1.5px 0.5px #efefef;
          box-shadow: -1.5px -1.5px 1.5px 0.5px #efefef;
  text-align: center;
  -webkit-animation: dropdowntriangle 0.2s linear;
          animation: dropdowntriangle 0.2s linear;
}

.triangle.above {
  position: absolute;
  -webkit-box-shadow: 1.5px 1.5px 2px 0.5px #efefef;
          box-shadow: 1.5px 1.5px 2px 0.5px #efefef;
  top: unset;
  bottom: -6%;
  -webkit-animation: dropdowntriangle_above 0.2s linear;
          animation: dropdowntriangle_above 0.2s linear;
}

.memberSelection {
  padding: 1rem;
  -webkit-box-shadow: 0 1px 5px 0.5px #dadada;
          box-shadow: 0 1px 5px 0.5px #dadada;
  background-color: white;
  border-radius: 10px;
  width: 5rem;
  top: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 20;
  max-height: 20rem;
  -webkit-animation: dropdown 0.2s linear;
          animation: dropdown 0.2s linear;
  overflow: auto;
}

.memberSelection i {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.memberSelection i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.memberSelection .selectableMember {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.memberSelection .selectableMember:hover {
  background-color: #e4e4e4;
}

.memberSelection p {
  margin-bottom: 0;
}

.memberSelection.above {
  -webkit-animation: dropdown_above 0.2s linear;
          animation: dropdown_above 0.2s linear;
}

.memberSelectionAbove {
  padding: 1rem;
  -webkit-box-shadow: 0 1px 5px 0.5px #dadada;
          box-shadow: 0 1px 5px 0.5px #dadada;
  background-color: white;
  border-radius: 10px;
  width: 5rem;
  top: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 10;
  -webkit-animation: dropdown_above 0.2s linear;
          animation: dropdown_above 0.2s linear;
}

.memberSelectionAbove i {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.memberSelectionAbove i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.memberSelectionAbove .selectableMember {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.memberSelectionAbove .selectableMember:hover {
  background-color: #e4e4e4;
}

.memberSelectionAbove p {
  margin-bottom: 0;
}

@-webkit-keyframes dropdown {
  0% {
    -webkit-transform: translate(0, -20%);
            transform: translate(0, -20%);
    overflow: hidden;
    visibility: hidden;
  }
  100% {
    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes dropdown {
  0% {
    -webkit-transform: translate(0, -20%);
            transform: translate(0, -20%);
    overflow: hidden;
    visibility: hidden;
  }
  100% {
    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes dropdown_above {
  0% {
    -webkit-transform: translate(0, 20%);
            transform: translate(0, 20%);
    overflow: hidden;
    visibility: hidden;
  }
  100% {
    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes dropdown_above {
  0% {
    -webkit-transform: translate(0, 20%);
            transform: translate(0, 20%);
    overflow: hidden;
    visibility: hidden;
  }
  100% {
    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes dropdowntriangle {
  0% {
    -webkit-transform: translate(-50%, -120%) rotate(45deg);
            transform: translate(-50%, -120%) rotate(45deg);
    overflow: hidden;
    visibility: hidden;
  }
  100% {
    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
    -webkit-transform: translate(-50%, 0) rotate(45deg);
            transform: translate(-50%, 0) rotate(45deg);
  }
}

@keyframes dropdowntriangle {
  0% {
    -webkit-transform: translate(-50%, -120%) rotate(45deg);
            transform: translate(-50%, -120%) rotate(45deg);
    overflow: hidden;
    visibility: hidden;
  }
  100% {
    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
    -webkit-transform: translate(-50%, 0) rotate(45deg);
            transform: translate(-50%, 0) rotate(45deg);
  }
}

@-webkit-keyframes dropdowntriangle_above {
  0% {
    -webkit-transform: translate(-50%, 120%) rotate(45deg);
            transform: translate(-50%, 120%) rotate(45deg);
    overflow: hidden;
    visibility: hidden;
  }
  100% {
    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
    -webkit-transform: translate(-50%, 0) rotate(45deg);
            transform: translate(-50%, 0) rotate(45deg);
  }
}

@keyframes dropdowntriangle_above {
  0% {
    -webkit-transform: translate(-50%, 120%) rotate(45deg);
            transform: translate(-50%, 120%) rotate(45deg);
    overflow: hidden;
    visibility: hidden;
  }
  100% {
    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
    -webkit-transform: translate(-50%, 0) rotate(45deg);
            transform: translate(-50%, 0) rotate(45deg);
  }
}
/*# sourceMappingURL=MemberSelection.css.map */